In [48]:
import pandas as pd
import numpy as np
import csv
import random

random = range(1,20)

file_name = "data_int.txt"

with open(file_name, 'w') as outfile:
  for line in random:
    outfile.write(str(line) + '\n') 

!type data_int.txt

matrix_float = np.random.random(size=(5,5))

out_file_name = "data_float.txt"

with open(out_file_name, 'w') as outfile:
  for line in matrix_float:
    outfile.write(str(line) + '\n') 

!type data_float.txt

out_file_name = "data_float.txt"

df = pd.DataFrame(columns = ['0' , '1', '2' , '3','4'])

with open(out_file_name, 'r') as outfile:
  for line in outfile:
    df.loc[len(df)] = line[1:-2].split()

df

/bin/bash: line 0: type: data_int.txt: not found
/bin/bash: line 0: type: data_float.txt: not found

            0           1           2           3           4
0  0.42331797  0.95724675  0.77663475  0.55950263  0.24241997
1  0.25956267  0.46100951  0.22932825  0.49189249  0.10081904
2   0.3874862   0.1801155   0.7230805  0.42060221  0.76559575
3  0.81633422  0.26959472  0.53036237  0.45996939  0.59123354
4  0.26477014  0.69822557   0.4435752  0.58362883  0.15223553

In [23]:
#task 2

!wget https://www.dropbox.com/s/sz5klcdpckc39hd/user_data.json -P ./data/
with open("data/user_data.json") as json_file:
    cc_data = json.load(json_file)


     

cc_data_csv = open("data/user_data_AmericanExpress.csv","w")
csv_writer = csv.writer(cc_data_csv)

filtered = list(filter(lambda x: x['CreditCardType'] == 'American Express', cc_data))
count=0
for card in filtered:
    if count==0:
        header = card.keys()
        csv_writer.writerow(header)
        count+=1
    csv_writer.writerow(card.values())

cc_data_csv.close()

--2022-12-02 21:04:59--  https://www.dropbox.com/s/sz5klcdpckc39hd/user_data.json
Resolving www.dropbox.com (www.dropbox.com)... 162.125.4.18, 2620:100:6019:18::a27d:412
Connecting to www.dropbox.com (www.dropbox.com)|162.125.4.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/sz5klcdpckc39hd/user_data.json [following]
--2022-12-02 21:04:59--  https://www.dropbox.com/s/raw/sz5klcdpckc39hd/user_data.json
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc9d1595d027552aa96c34882497.dl.dropboxusercontent.com/cd/0/inline/Bx4Y-gXzP8AXO9CbUvYotOKMnfYTm2TDX1rUZ2B5PaA76ymzoRG0PJqGdgNi57IVISN6q6IXASV6TWo6VLE-Dv9-d5oBInFYMjq_v-7JDCKIrtXOSeykk62VeWURh0JrOYML8OBCxpOOJ62J_xewDRYBEgcpJw0qaT6evdk8tWbaHg/file# [following]
--2022-12-02 21:05:00--  https://uc9d1595d027552aa96c34882497.dl.dropboxusercontent.com/cd/0/inline/Bx4Y-gXzP8AXO9CbUvYotOKMnfYTm2TDX1rUZ2B5PaA76ymzoRG0PJqGdgNi57IVISN6q6IXASV6TWo6VLE-Dv9-d5oBInFYMjq_v-7JDCKIrtXOSeykk62VeWURh0JrOYML8OBCxpOOJ62J_xewDRYBEgcpJw0qaT6evdk8tWbaHg/file
Resolving uc9d1595d027552aa96c34882497.dl.dropboxusercontent.com (uc9d1595d027552aa96c34882497.dl.dropboxusercontent.com)... 162.125.6.15, 2620:100:6019:15::a27d:40f
Connecting to uc9d1595d027552aa96c34882497.dl.dropboxusercontent.com (uc9d1595d027552aa96c34882497.dl.dropboxusercontent.com)|162.125.6.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 40417 (39K) [text/plain]
Saving to: ‘./data/user_data.json’

user_data.json      100%[===================>]  39.47K  --.-KB/s    in 0.001s

2022-12-02 21:05:00 (40.1 MB/s) - ‘./data/user_data.json’ saved [40417/40417]

In [ ]:
#task 3

!wget https://www.dropbox.com/s/kgshemfgk22iy79/mushrooms_categorized.csv -P ./data/
mushrooms = pd.read_csv("data/mushrooms_categorized.csv")
print(mushrooms.head(10))

print(mushrooms.groupby('class').mean())
mushrooms.to_json("data/mushrooms_categorized.json")

In [ ]:
#task 4
import urllib.request
!wget https://www.dropbox.com/s/8m0syw2tkul3dap/credit_card.dat -P ./data/

file = open("data/credit_card.dat")
lines = file.readlines()
file.close()

for line in lines: 
    splitted = [line[i:i+6] for i in range(0,len(line)-6,6)]
    dec = [int(x,2) for x in splitted]
    characters = [chr(x) for x in dec]
    cardnumber = "".join(characters)
    print(cardnumber)

In [44]:
#task 5

!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ./data/
import numpy.random as npr
import os
import csv
import struct
import json

df1 = pd.read_csv("./data/data_000637.txt", sep=",", nrows=10)
df2 = "./data/data_000637.dat"
doc1=[]

file_txt = "./data/data_000637.txt"
file_txt2 = "./data/data_000637_2.txt"
file_dat = "./data/data_000637.dat"

df1 = pd.read_csv(file_txt, nrows = 10)
display(df1)
df1.to_csv(r"./data/data_000637_2.txt")

with open(file_dat, 'wb') as binary_file: 
    for x in df1.values : 
        word = (x[5] << 0 ) 
        word += (x[4] << 5 ) 
        word += (x[3] << 17) 
        word += (x[2] << 49) 
        word += (x[1] << 58)
        word += (x[0] << 62)
        binary_file.write(struct.pack('q', word))

df1={}
columns = ['HEAD', 'FPGA', 'TDC_CHANNEL', 'ORBIT_CNT', 'BX_COUNTER', 'TDC_MEAS']
df3 = pd.DataFrame({}, columns=columns)

with open(file_dat, 'rb') as df2: 
    file_content = df2.read()
    word_counter = 0
    word_size = 8 
    for i in range(0, len(file_content), word_size):
        word_counter += 1
        if word_counter > 10: break
        word = struct.unpack('q', file_content[i : i + word_size])[0] 
        head     = (word >> 62) & 0x3
        fpga     = (word >> 58) & 0xF
        tdc_chan = (word >> 49) & 0x1FF
        orb_cnt  = (word >> 17) & 0xFFFFFFFF
        bx       = (word >> 5 ) & 0xFFF
        tdc_meas = (word >> 0 ) & 0x1F
        entry = {'HEAD' : head, 'FPGA' : fpga, 'TDC_CHANNEL' : tdc_chan, 'ORBIT_CNT' : orb_cnt, 'BX_COUNTER' : bx, 'TDC_MEAS' : tdc_meas}
        df3 = df3.append(entry, ignore_index=True)
display(df3)

filetxt = os.stat(file_txt2)
filedat = os.stat(file_dat)

print("\nfile Size for txt  ", filetxt.st_size, "B")
print("\n file Size for dat ", filedat.st_size, "B")

--2022-12-02 21:27:27--  https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt
Resolving www.dropbox.com (www.dropbox.com)... 162.125.6.18, 2620:100:601c:18::a27d:612
Connecting to www.dropbox.com (www.dropbox.com)|162.125.6.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/xvjzaxzz3ysphme/data_000637.txt [following]
--2022-12-02 21:27:28--  https://www.dropbox.com/s/raw/xvjzaxzz3ysphme/data_000637.txt
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucf36fd511125ba9505e215f81df.dl.dropboxusercontent.com/cd/0/inline/Bx5qVgqmVxsjUanpDjb8ZGTokRMJ_LJVIckjsC9pY_hbner4ABphVVL4FBrvfBjkVqlvBKOa311_betcIRz6Av8ssrc9Tv8wvBOwn6gHc9jNL0ZyY-TI5h6BVapWPdGDNoMzNH5dud3gW0MeTqlIpqM6ZQKqImnt3xCwAilR53V6yg/file# [following]
--2022-12-02 21:27:28--  https://ucf36fd511125ba9505e215f81df.dl.dropboxusercontent.com/cd/0/inline/Bx5qVgqmVxsjUanpDjb8ZGTokRMJ_LJVIckjsC9pY_hbner4ABphVVL4FBrvfBjkVqlvBKOa311_betcIRz6Av8ssrc9Tv8wvBOwn6gHc9jNL0ZyY-TI5h6BVapWPdGDNoMzNH5dud3gW0MeTqlIpqM6ZQKqImnt3xCwAilR53V6yg/file
Resolving ucf36fd511125ba9505e215f81df.dl.dropboxusercontent.com (ucf36fd511125ba9505e215f81df.dl.dropboxusercontent.com)... 162.125.6.15, 2620:100:6019:15::a27d:40f
Connecting to ucf36fd511125ba9505e215f81df.dl.dropboxusercontent.com (ucf36fd511125ba9505e215f81df.dl.dropboxusercontent.com)|162.125.6.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33179236 (32M) [text/plain]
Saving to: ‘./data/data_000637.txt.2’

data_000637.txt.2   100%[===================>]  31.64M  --.-KB/s    in 0.1s

2022-12-02 21:27:28 (255 MB/s) - ‘./data/data_000637.txt.2’ saved [33179236/33179236]

   HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0     1     0          123  3869200167        2374        26
1     1     0          124  3869200167        2374        27
2     1     0           63  3869200167        2553        28
3     1     0           64  3869200167        2558        19
4     1     0           64  3869200167        2760        25
5     1     0           63  3869200167        2762         4
6     1     0           61  3869200167        2772        14
7     1     0          139  3869200167        2776         0
8     1     0           62  3869200167        2774        21
9     1     0           60  3869200167        2788         7

  HEAD FPGA TDC_CHANNEL   ORBIT_CNT BX_COUNTER TDC_MEAS
0    1    0         123  3869200167       2374       26
1    1    0         124  3869200167       2374       27
2    1    0          63  3869200167       2553       28
3    1    0          64  3869200167       2558       19
4    1    0          64  3869200167       2760       25
5    1    0          63  3869200167       2762        4
6    1    0          61  3869200167       2772       14
7    1    0         139  3869200167       2776        0
8    1    0          62  3869200167       2774       21
9    1    0          60  3869200167       2788        7

file Size for txt   333 B

 file Size for dat  80 B