In [ ]:
import pandas as pd
import numpy as np
import numpy.random as npr
import os
import csv
import struct
import json

!wget https://www.dropbox.com/s/ebe1cnyd2gm836a/populations.txt -P ./data/
!wget https://www.dropbox.com/s/sz5klcdpckc39hd/user_data.json -P ./data/
!wget https://www.dropbox.com/s/kgshemfgk22iy79/mushrooms_categorized.csv -P ./data/
!wget https://www.dropbox.com/s/8m0syw2tkul3dap/credit_card.dat -P ./data/
!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ./data/
!wget https://www.dropbox.com/s/9nu2i111if55135/data_000637.dat -P ./data/

!hexdump ./data/data_000637.dat

1\. **Text files**

Perform the following operations on plain `txt` files:

+ create a list of integrer numbers and then save it to a text file named `data_int.txt`. Run the `cat` command to print the content of the file.
+ create a matrix of 5x5 floats and then save it to a text file named `data_float.txt`. Use the `cat` command to print the content of the file.
+ load the `txt` file of the previous point and convert it to a `csv` file by hand.

In [3]:
a=npr.randint(1, 25, size=25)
a2=np.array2string(a)
b=npr.uniform(1, 25, [5,5])
b2=np.array2string(b)

with open('data_int.txt', 'w') as file1:
    file1.write(a2+"\n")
!cat data_int.txt
print()

with open('data_float.txt', 'w') as file2:
    file2.write(b2+"\n")
!cat data_float.txt
print()

with open('data_int.txt', 'r') as infile:
    with open('data_mix.csv', 'w') as outfile:    
        for line in infile:
            l = line.replace('[','')
            l = l.replace(']','')
            outfile.write(', '.join(l.split())+", ")

!cat data_mix.csv

[ 3 14 22  1  9 12 18 22 20 16 19 11  6  6  6  1  6 16  8 15 17  9  7 10
  9]

[[ 3.24161088  7.39291319  7.08559019  4.15575016 20.04826792]
 [12.7613853   2.53299989  6.69714283 21.11320278  4.99455516]
 [11.90627816  8.41195651 11.13745339  4.22742441  7.28422217]
 [ 4.34872549 17.27685683  3.88272502 10.72967025 14.64802118]
 [18.19257669  3.46201305 22.43258107  4.28751579 14.6322375 ]]

3, 14, 22, 1, 9, 12, 18, 22, 20, 16, 19, 11, 6, 6, 6, 1, 6, 16, 8, 15, 17, 9, 7, 10, 9,

2\. **JSON files**

Load the file *user_data.json*, which can be found at:

- https://www.dropbox.com/s/sz5klcdpckc39hd/user_data.json

and filter the data by the "CreditCardType" when it equals to "American Express". Than save the data to a new CSV file.

In [5]:
data = json.load(open('./data/user_data.json'))
with open('CreditCartType.csv', 'w') as file2:
    for i in range(len(data)):
        if(data[i]["CreditCardType"] == "American Express"):
            file2.write("User " + str(i+1) + " (" + data[i]["FirstNameLastName"] + ") uses " + data[i]["CreditCardType"])
            if(i+1==len(data)):
                break
            else:
                file2.write(" \n")
            #print("User", i, data[i]["CreditCardType"])
!cat CreditCartType.csv

User 2 (Clint Thorpe) uses American Express
User 12 (Phillip Carpenter) uses American Express
User 28 (Russel Graves) uses American Express
User 39 (Leanne Newton) uses American Express
User 57 (Tony Giles) uses American Express
User 62 (Owen Allcott) uses American Express
User 68 (Liam Lynn) uses American Express
User 74 (Regina Woodcock) uses American Express
User 81 (Carter Wallace) uses American Express
User 92 (Maia Stark) uses American Express
User 97 (Ciara Lomax) uses American Express
User 116 (Isabel Ellwood) uses American Express
User 148 (Abdul Townend) uses American Express
User 150 (Caleb Poulton) uses American Express
User 151 (Ronald Lewis) uses American Express
User 154 (Faith Seymour) uses American Express
User 169 (Anthony Hancock) uses American Express
User 176 (Isabella Willson) uses American Express
User 182 (Stephanie Darcy) uses American Express
User 199 (Ryan Kennedy) uses American Express

3\. **CSV files with Pandas**

Load the file from this url:

- https://www.dropbox.com/s/kgshemfgk22iy79/mushrooms_categorized.csv

with Pandas. 

+ explore and print the DataFrame
+ calculate, using `groupby()`, the average value of each feature, separately for each class
+ save the file in a JSON format.

In [10]:
data1 = pd.read_csv("./data/mushrooms_categorized.csv")
display(data1)
d1=data1.groupby(['class']).mean()
d1.to_json(r'mushrooms_cat_mean-vals.json')
d1

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,1,5,2,4,1,6,1,0,1,4,...,2,7,7,0,2,1,4,2,3,5
1,0,5,2,9,1,0,1,0,0,4,...,2,7,7,0,2,1,4,3,2,1
2,0,0,2,8,1,3,1,0,0,5,...,2,7,7,0,2,1,4,3,2,3
3,1,5,3,8,1,6,1,0,1,5,...,2,7,7,0,2,1,4,2,3,5
4,0,5,2,3,0,5,1,1,0,4,...,2,7,7,0,2,1,0,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,0,3,2,4,0,5,0,0,0,11,...,2,5,5,0,1,1,4,0,1,2
8120,0,5,2,4,0,5,0,0,0,11,...,2,5,5,0,0,1,4,0,4,2
8121,0,2,2,4,0,5,0,0,0,5,...,2,5,5,0,1,1,4,0,1,2
8122,1,3,3,4,0,8,1,0,1,0,...,1,7,7,0,2,1,0,7,4,2
8123,0,5,2,4,0,5,0,0,0,11,...,2,5,5,0,1,1,4,4,1,2

,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,stalk-shape,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
class,,,,,,,,,,,,,,,,,,,,,
0,3.266160,1.615970,4.581749,0.653992,4.334601,0.954373,0.285171,0.068441,6.622624,0.615970,...,1.798479,6.098859,6.064639,0.0,1.931559,1.125475,3.007605,3.201521,3.283270,1.148289
1,3.436159,2.055158,4.421859,0.159346,3.940756,0.995403,0.028601,0.567926,2.863636,0.514811,...,1.394280,5.512768,5.504597,0.0,2.002043,1.009193,1.522983,4.021450,4.031665,1.895812

4\. **Reading the credit card numbers**

Get the binary file named *credit_card.dat* from this address:

- https://www.dropbox.com/s/8m0syw2tkul3dap/credit_card.dat

and convert the data into the real credit card number, knowing that:
- each line corresponds to a credit card number, which consists of 16 characters (which are numbers in the 0-9 range) divided in 4 blocks, with a whitespace between each block
- each character is written using a 6 bit binary representation (including the whitespace)
- the final 4 bits of each line are a padding used to determine the end of the line, and can be ignored

*Hint*: convert the binary numbers to the decimal representation first, and then use the `chr()` function to convert the latter to a char

In [11]:
file_name = "./data/credit_card.dat"
d1 = pd.read_csv(file_name)
#print(d1)
with open(file_name,'rb') as f1:
    f1_lines= f1.readlines()
    for lines in f1_lines:
        line_i=lines.decode().replace("\n",'') 
        card_num=''
        for i in range(0,len(line_i),6):
            char_card=line_i[i:i+6]
            number=int(char_card,2)
            card_num=card_num+str(chr(number))
        print(card_num)

7648 5673 3775 2271

3257 8247 3354 2266

2722 0001 4011 6652

0661 3063 3742 3150

0432 1608 1462 4742

5827 2027 8785 7303

5774 8528 2087 1117

8140 1210 6352 2845

5764 1133 7301 7100

6456 1737 4126 6726

1228 8631 7382 0000

7051 0160 5374 3166

0618 3587 1630 6376

1545 5454 7444 5636

6735 3116 3202 6834

7287 5011 1547 8413

7033 2607 3328 4200

2568 5244 1874 5024

1684 2253 7570 7118

0672 2576 0575 6631

6332 8353 8787 1340

1813 3361 1175 4211

2477 6450 8840 2368

5512 3505 2563 1326

3083 7882 0621 0025

4521 5148 8045 0334

7563 3654 8713 5787

8324 2664 0476 5561

0565 2504 7168 3510

5107 5507 1767 0738

2462 1821 2448 1443

2788 0638 6861 6554

5851 5873 5474 0547

0670 1004 4013 2655

5874 5506 3048 0806

2805 5401 8462 1260

5083 8406 6310 1862

1076 1445 3013 2266

8440 4804 4844 5277

4758 6141 0686 1387

7586 0675 0315 2568

2544 1258 7432 5165

3474 5023 4434 5626

1410 0270 0434 5086

7315 4446 1104 4215

0224 7742 8300 0266

0170 2700 3145 0640

2006 2437 8054 1600

8142 4055 1776 0026

3026 7380 1241 1084

5\. **Write data to a binary file**

a) Start from the `data/data_000637.txt` file that we have used during the previous lectures, and convert it to a binary file according to the format defined below:

In [ ]:
from IPython.display import Image
Image("images/data_format.png")

*Hints*:
- Read the first 10 lines using Pandas
- Iterate over the DataFrame rows
- For every row, ``pack'' the values (features) into a single 64-bit word, according to the format specified above. Use bit-wise shifts and operators to do so.
- Write each 64-bit word to a binary file. You can use `struct` in this way:
```
binary_file.write( struct.pack('<q', word) )
```
where `word` is the 64-bit word.
- Close the file after completing the loop.

b) Check that the binary file is correctly written by reading it with the code used in the lecture `06_OSEMN.ipynb`, and verify that the content of the `txt` and binary files is consistent.

c) What is the difference of the size on disk between equivalent `txt` and binary files?

In [18]:
df1 = pd.read_csv("./data/data_000637.txt", sep=",", nrows=10)
df2 = "./data/data_000637.dat"
doc1=[]

file_txt = "./data/data_000637.txt"
file_txt2 = "./data/data_000637_2.txt"
file_dat = "./data/data_000637.dat"

df1 = pd.read_csv(file_txt, nrows = 10)
display(df1)
df1.to_csv(r"./data/data_000637_2.txt") # This file is created only to compare the sizes of 2 files with first 10 rows.

with open(file_dat, 'wb') as binary_file: 
    for x in df1.values : 
        word = (x[5] << 0 ) 
        word += (x[4] << 5 ) 
        word += (x[3] << 17) 
        word += (x[2] << 49) 
        word += (x[1] << 58)
        word += (x[0] << 62)
        binary_file.write(struct.pack('q', word))

df1={}
columns = ['HEAD', 'FPGA', 'TDC_CHANNEL', 'ORBIT_CNT', 'BX_COUNTER', 'TDC_MEAS']
df3 = pd.DataFrame({}, columns=columns)

with open(file_dat, 'rb') as df2: 
    file_content = df2.read()
    word_counter = 0
    word_size = 8 
    for i in range(0, len(file_content), word_size):
        word_counter += 1
        if word_counter > 10: break
        word = struct.unpack('q', file_content[i : i + word_size])[0] 
        head     = (word >> 62) & 0x3
        fpga     = (word >> 58) & 0xF
        tdc_chan = (word >> 49) & 0x1FF
        orb_cnt  = (word >> 17) & 0xFFFFFFFF
        bx       = (word >> 5 ) & 0xFFF
        tdc_meas = (word >> 0 ) & 0x1F
        entry = {'HEAD' : head, 'FPGA' : fpga, 'TDC_CHANNEL' : tdc_chan, 'ORBIT_CNT' : orb_cnt, 'BX_COUNTER' : bx, 'TDC_MEAS' : tdc_meas}
        df3 = df3.append(entry, ignore_index=True)
display(df3)

file_stats_txt = os.stat(file_txt2)
file_stats_dat = os.stat(file_dat)

print("\nFile Size for txt is ", file_stats_txt.st_size, "B")
print("File Size for dat is ", file_stats_dat.st_size, "B")

   HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0     1     0          123  3869200167        2374        26
1     1     0          124  3869200167        2374        27
2     1     0           63  3869200167        2553        28
3     1     0           64  3869200167        2558        19
4     1     0           64  3869200167        2760        25
5     1     0           63  3869200167        2762         4
6     1     0           61  3869200167        2772        14
7     1     0          139  3869200167        2776         0
8     1     0           62  3869200167        2774        21
9     1     0           60  3869200167        2788         7

  HEAD FPGA TDC_CHANNEL   ORBIT_CNT BX_COUNTER TDC_MEAS
0    1    0         123  3869200167       2374       26
1    1    0         124  3869200167       2374       27
2    1    0          63  3869200167       2553       28
3    1    0          64  3869200167       2558       19
4    1    0          64  3869200167       2760       25
5    1    0          63  3869200167       2762        4
6    1    0          61  3869200167       2772       14
7    1    0         139  3869200167       2776        0
8    1    0          62  3869200167       2774       21
9    1    0          60  3869200167       2788        7

File Size for txt is  333 B
File Size for dat is  80 B